<%- include('partials/header.ejs') %>
<h2>Welcome Admin</h2>
<form method="POST" action="/logout" style="float: inline-end;">
    <button type="submit" class="btn btn-dark">Log Out</button>
</form>
<h4 class=" mt-5">Manage Employees</h4>
<form>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <input type="text" id="myInput" name="username" onkeyup="search(2,'myInput')" class="form-control"
                    placeholder="Search for First name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group mb-3">
                <input type="text" id="myyInput" name="username" onkeyup="search(3,'myyInput')" class="form-control"
                    placeholder="Search for Last name">
            </div>
        </div>
    </div>

</form>
<div id="custom">
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="form-group">
                <label for="fromdate">From :</label>
                <input type="date" class="form-control" id="fromdate">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="todate">To :</label>
                <input type="date" class="form-control" id="todate">
            </div>
        </div>
        <button id="customClicked" class="btn btn-dark mb-3" style="margin-left: 1em;">Submit</button>
    </div>
</div>
<% if(messages.error){ %>
<div class="alert alert-danger" style="margin-bottom: 1em !important; display: inline-block; width: 100%;">
    <%= messages.error %></div>
<%}%>
<div id="nodata" style="display: none;" class="mt-5">
    <h2 class="text-center">Sorry ..No data is found for the selected date</h2>
</div>
    <table class="table table-striped table-responsive mt-5"  id="myTable">
        <thead>
            <tr>
                <th scope="col">EmpID</th>
                <th scope="col">Added At</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Password</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="tb">
            <% employees.forEach(employee =>{ %>
<tr>
    <td><%= employee.empID %></td>
    <td><%= employee.date %></td>
    <td><%= employee.firstName %></td>
    <td><%= employee.lastName %></td>
    <td><%= employee.password %></td>
    <td>
        <form action="/employeeDelete" method="POST" style="display: inline;" class="pl-4">
            <input type="hidden" value="<%= employee.empID %>" name="empID">
            <button type="submit" style="border: none;" onclick="return confirm('Are you sure you want to Delete?');"><i
                    class="lnr lnr-trash" aria-hidden="true"></i></button>
        </form>
    </td>
</tr>
<%  }) %>
</tbody>
</table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#category"> Add new Employee</button>
<div class="modal fade right" id="category" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead" style="display: inline;">Add new Employee</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <!--Body-->
            <form action="/addEmployee" method="POST" style="padding: 2em;">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstname" name="firstName" placeholder="First name"
                            required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="LastName" name="lastName" placeholder="Last name"
                            required>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="empID">Employee ID</label>
                    <input type="empID" class="form-control" name="empID" id="empID" placeholder="Employee ID" required>
                </div>

                <div class="form-group col-md-12">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" name="password" placeholder="password"
                        required>
                </div>

                <div class="modal-footer justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Add</button>

                    <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Cancel</a>
                </div>
            </form>

        </div>
        <!--Footer-->

    </div>
</div>
<script src="/js/axios.min.js"></script>
<script>
    function search(feild, name) {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById(name);
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[feild];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    const tbody = document.getElementById('tb');
    const noData = document.getElementById('nodata');
    document.getElementById('customClicked').addEventListener('click', () => {
        const fromDate = document.getElementById('fromdate').value;
        const toDate = document.getElementById('todate').value;
        const dates = {
            from: fromDate,
            to: toDate
        }
        axios.post('/dateFilter', dates).then(res => {
            datas = res.data;
            if (datas.length > 0) {
                tbody.style.display = 'block';
                noData.style.display = 'none';
                markup = generateallorderMarkup(datas);
                tbody.innerHTML = markup;
            } else {
                tbody.style.display = 'none';
                noData.style.display = 'block';
            }

        })
    })
    function generateallorderMarkup(datas) {
        return datas.map(data => {
            return `
            <tr>
                <td>${data.empID}</td>
                <td>${data.date}</td>
                <td>${data.firstName}</td>
                <td>${data.lastName}</td>
                <td>${data.password}</td>
                <td>
                    <form action="/employeeDelete" method="POST" style="display: inline;" class="pl-4">
                    <input type="hidden" value="${data.empID}" name="empID">
                    <button type="submit" style="border: none;" onclick="return confirm('Are you sure you want to Delete?');"><i
                    class="lnr lnr-trash" aria-hidden="true"></i></button>
                    </form>
                </td>
            </tr>`
        }).join('')
    }
</script>
<%- include('partials/footer.ejs') %>